
html {
    box-sizing: border-box;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    color: #5f6368;
    font-size: 16px;
}

body {
    margin: 0;
    height: 98vh;
}

/* navbar */
.nav {
    border-bottom: #dadce0 1px solid;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    background-color: white;
    height: 4rem;
}

.nav-left {
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
}

.nav-right {
    gap: 1px;
    padding-right: 20px;
}

.btn {
    height: 32px;
    width: 96px;
    border: none;
    color: #fff;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
}

.nav-assign {
    border-radius: 4px 0px 0px 4px;
}

.nav-arrow {
    width: 20px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

/* content */
.content {
    height: 90%;
    gap: 10px;
}

.assignment-details {
    width: 75%;
    padding: 20px;
    gap: 20px;
}

.assignment-options {
    width: 25%;
    border-radius: 0px;
    border-top: none;
    font-size: 12px;
}

.assignment-text {
    justify-content: space-around;
}

.input-div {
    border-bottom: 1px solid #5f6368;
}

.textarea {
    border: none;
    overflow: hidden;
    height: 60%;
}

.textarea:focus {
    outline: none;
}

/* attachments */
.assignment-attach {
    justify-content: space-between;
}

.attach-icons {
    align-self: center;
    width: 60%;
    justify-content: space-around;
}

.assignment-option {
    color: #5f6368;
}

.small {
    width: 32px;
    height: 32px;
    background-color: #e8f0fe;
    border: none;
}

.dropdown {
    z-index: 10;
    width: 100px;
    border-color: #e8f0fe;
    list-style-type: none;
}

.hidden {
    display: none;
}
