*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: roboto, "Noto Sans Myanmar UI", arial;
}

body {
    background-image: url("/assets/images/classroom_main_page.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.signin{
    
    width: 20%;
    position: absolute;
    top: 13px;
    right: 63px;
    background-color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    
}
.signin:hover{
    background-color: rgb(94, 201, 201);
    
}