html {
    box-sizing: border-box;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    color: #5f6368;
    font-size: 14px;
}

body {
    margin: 0;
    height: 98vh;
}

.nav {
    border-bottom: #dadce0 1px solid;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 4.5rem;
}

.nav-left {
    padding-left: 20px;
}

.nav-right {
    padding-right: 20px;
}

.nav-links {
    text-decoration: none;
    color: #5f6368;
    font-weight: 500;
}

.nav-links:hover {
    color: #1967d2;
}

.nav-div {
    height: 4.5rem;
}

.nav-div:hover {
    border-bottom: solid 2px #1967d2;
}

.nav-svg:hover {
    cursor: pointer;

}
