@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
    font-family: "Google Sans",'Roboto',Arial,sans-serif;
    color: #5f6368;
    font-size: 14px;

}

.overlay {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    display: none;
}

.card {
    width: 400px;
    height: 200px;
    font-family: "Google Sans",'Roboto',Arial,sans-serif;
    color: #5f6368;
}

.input-div-upper {
    border-bottom: 1px solid #babec4;

}

/* .input-div-lower {
    padding-top: 5px;
    border-top: 1px solid #babec4;
} */

.email-input {
    border: none;
    outline: none;
    font-family: "Google Sans",'Roboto',Arial,sans-serif;
}

.cancel-invite {
    display: flex;
    justify-content: flex-end;
}

.modal-links {
    text-decoration: none;
    color: #5f6368;
    cursor: pointer;
}

.nav {
    z-index: 2;
    position: sticky;
    height: 4rem;
}

.nav-div {
    height: 4rem;
}

.wrapper {
    align-self: center;
    height: 100%;
    width: 60%;
    margin-top: 15px;
}

.title-li {
    padding: 10px;
    border-bottom: #1967d2 1px solid;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    cursor: pointer;
    color: #1967d2;
    font-size: 28px;
    font-weight: 400;
}

.participant-li {
     padding: 10px;
    border-bottom: #dadce0 1px solid;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    cursor: pointer;
}

.svg-add {
    cursor: pointer;
}

#imagePreview {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#logout {
	background-color: transparent;
	border: none;
	font-weight: bolder;
}

#logout:hover {
	cursor: pointer;
	background-color: #ababab;
	padding: 0.5rem;
	color: white;

}

.cancel_invite_2{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

#cancel:hover{
    background-color: #1967d2;
    padding: 0.5rem;
    color: white;
    cursor: pointer;

}

#confirm1:hover{
    background-color: #1967d2;
    padding: 0.5rem;
    cursor: pointer;
    color: white;

}