*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: roboto, "Noto Sans Myanmar UI", arial;
}

.google_logo {
    width: 15%;
    height: 20%;
}

body {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin-left: 30%;
    margin-top:10%;*/
}

.container {
    border: 1px solid silver;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 60%;
    padding-top: 30px;
    padding-bottom: 50px;
    

}

.signin_title{
    font-weight: 700;
    font-size: 1.3rem;
}

.email_input {
    width: 80%;
    padding: 1rem;
    margin-bottom: 10px;
}
.forgot_email{
    text-decoration: none;
}
.learn_more{
    text-decoration: none;
    margin-top: 8px;
}
.create_account{
    text-decoration: none;
}
.button{
    padding: 10px 20px;
    text-transform: none;
    background-color: #6200ee;
    color: aliceblue;
    text-decoration: none;
    border-radius: 5px;
}
.first_input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    padding: 20px;
}
.row_direction{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
}
/* .email_input:focus{
    
} */