
html {
    box-sizing: border-box;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    color: #5f6368;
    font-size: 16px;
}

body {
    width: 100%;
}

.content {
    padding: 32px;
    width: 80%;
    align-self: center;
}

.header {
    align-items: flex-start;
    border-bottom: 1px solid rgb(32,33,36);
    padding: 10px 10px 10px 0px;
}

.s_title {
    color: rgb(32,33,36);
    font-size: 24px;
    font-weight: 400;
}

.instructions {
    padding: 10px 10px 10px 0px;
    align-self: flex-start;
}