<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="../css/classroom_view.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>classRoom View</title>
</head>
<body class="active">
  <div class="wrapper ">
      <div class="section">
        <div class="top_navbar">
          <div class="hamburger">
            <a href="#">
              <i class="fas fa-bars"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="sidebar">
        <ul>
          <li class="classes">
            <a href="#" >
              <span class="icon"><i class="fas fa-home"></i></span>
              <span class="item">Classes</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fas fa-calendar"></i></span>
              <span class="item">Calendar</span>
            </a>
          </li>
          <hr>
          <li>
            <a href="#">
              <span class="icon"><i class="fas fa-check"></i></span>
              <span class="item">To-do</span>
            </a>
          </li>
          <hr>
          <li>
            <a href="#">
              <span class="icon"><i class="fas fa-archive"></i></span>
              <span class="item">Archived classes</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon"><i class="fas fa-cog"></i></span>
              <span class="item">Settings</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p>fsdfsdfsffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffd</p>
    <script src="../js/classroom_view.js"></script>
</body>
</html>



