<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Profile</title>
    <link rel="stylesheet" href="../css/edit_profile.css"> 
  </head>
  <body>
    <div class="edit_profile_data">
    <label for="profile_pic">Profile Picture</label>
    <input type="file" id="profile_pic" />
    <button id="cancel_image">Cancel</button>
    <button id="save_picture">Save</button>
    <!--  -->
    <br />
    <label for="first_name">First Name</label>
    <input id="first_name" placeholder="" value="" />
    <!--  -->
    <label for="last_name">Last Name</label>
    <input id="last_name" placeholder="" value="" />
    <button id="submit">submit</button>
    <!--  -->
    <br />
    <button id="modify_password">Password</button>
    </div>
    <script src="../js/edit_profile.js"></script>
  </body>
</html>
