<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Classroom</title>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
  </head>
  <body>
    <div id="recovery_email_main">
      <label for="recovery_email1">Enter your recovery email</label>
      <input id="recovery_email1" />
      <button id="submit">Submit</button>
    </div>
    <div id="enter_code">
      <label for="reset_code">Enter your code</label>
      <input id="reset_code" />
      <button id="proceed">Proceed</button>
    </div>
    <script src="../js/forgot_password.js"></script>
  </body>
</html>
