<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/signin.css">
    <title>Forgot Password</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js" ></script>
  </head>
  <body>
    <div class="main">
      <div class="menu" id="menu">
        <div class="menu-icon" onclick="toggleMenu()">
          <img src="../../assets/images/menu.svg" alt="" />
        </div>
        <div class="menu-items" id="menuItems">
          <ul>
            <li id="about">About</li>
            <li>Contact</li>
            <li>etc...</li>
          </ul>
        </div>

      </div>
      <div class="logo">
        <img src="../../assets/images/logo.png" alt="logo" class="logo-img" />
      </div>
      <h1 class="heading">
        <div class="h_main">Forgot Password</div>
        <div class="h_sub">Send Me Email To Reset My Password</div>
      </h1>

      <div class="slide-content">
        <div class="content1">
          <form action="">
            <div class="input-group">
                <input type="email" class="field email-field" id="email" placeholder="Enter Email or phone" />
                <button class="btn" id="submit">Send Code</button>
              </div>

            <div class="input-group">
              <input id="reset_code" type="text" class="field email-field" placeholder="Enter your code" disabled/>
              <button class="btn" id="proceed" disabled>Comfirm Code</button>
            </div>
            <div class="info">
              Not your computer? Use Guest mode to sign in privately.
            </div>
          </form>
        </div>
      </div>
    </div>
  <script src="../js/forgot_password.js"></script>
  </body>
</html>
