<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/register.css" />
    <title>Google Classroom</title>
  </head>
  <body>
<div class="main">
  <div class="logo">
    <img src="../css/img/logo.png" alt="logo" class="logo-img">
  </div>
  <h1 class="heading">
    <div class="h_main">Create a google account</div>
  </h1>

    <div class="slide-content">
      <div class="content1">
        <form id="register_form">
      <div class="input-group">
          <input class="field" type="text" id="first_name" placeholder="First Name"/>
          <input class="field" type="text" id="last_name" placeholder="Last Name"/>
        </div>
        <div class="input-group">
          <input class="field" type="text" id="email" placeholder="User name"/><br>

          <span>you can use letters,numbers&periods</span> <br>
          <span><a href="signin.html">my current email adress instead </a> </span>
        </div>

        <br>
        <div class="input-group">
          <input class="field" type="text" id="password"  placeholder="Password"/>
          <input class="field" type="text" id="recovery_email" placeholder="Recovery_email"/>
          <br>
          <span>Use 8 or more characters with mix of letters ,numbers & symbols</span>
        </div>
        <br>
        <div class="input-group last-row">
          <span><a href="signin.html">Signin instead</a></span>
          <button class="btn" id="next" type="submit" id="submit">Register</button>
        </div>
        </form>
      </div>
    </div>
</div>
<script src="../js/register.js"></script>

  </body>
</html>
