<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="../css/signin.css" />
    <link rel="shortcut icon" href="/assets/images/google_tab_icon.png" />
  </head>
  <body>
    <div class="main">
      <div class="menu" id="menu">
        <div class="menu-icon" onclick="toggleMenu()">
          <img src="../../assets/images/menu.svg" />
        </div>
        <div class="menu-items">
          <ul>
            <li id="about">About</li>

            <li>Contact</li>
          </ul>
        </div>
      </div>

      <div class="logo">
        <img src="../../assets/images/logo.png" alt="logo" class="logo-img" />
      </div>
      <h1 class="heading">
        <div class="h_main">Reset Your Password</div>
      </h1>
      <div class="slide-content">
        <div class="content1">
          <form action="">
            <div class="input-group">
              <label class="field-label email-label" for="reset_password"
                >New Password</label
              >
              <input
                class="field email-field"
                id="reset_password"
                type="password"
              />
            </div>
            <div class="input-group">
              <label
                class="field-label password-label"
                for="confirm_reset_password"
                >Confirm Password</label
              >
              <input
                class="field password-field"
                id="confirm_reset_password"
                type="password"
                disabled
              />
            </div>
            <div class="info">
              Password must contain at least 8 characters, including one
              uppercase letter, one lowercase letter, and one number.
            </div>
            <div class="create-next">
              <button class="btn" id="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="../js/resetting_password.js"></script>
  </body>
</html>
