<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Classroom</title>
    <link rel="stylesheet" href="../css/signin.css">
  </head>
  <body>
    <section class="container">
    <img src="/assets/images/google_logo.png" alt="google logo" class="google_logo">
    <p class="signin_title">Sign In</p>
    <p>Use your Google Account</p>
    <input type="text" placeholder="Email or Phone" class="email_input"></input>
    <a href="#">forgot email?</a>
    <p>Not your computer? Use Guest mode to sign in privately.</p>
    <a href="">Learn more</a>
    <a href="#">Create account</a>
    <button type="submit">Next</button>
</section>
  </body>
</html>
