<!DOCTYPE html>
<html>
<head>
  <title>Upload and Send Multiple Files to PHP</title>
  <style>
    #fileList {
      border: 1px solid #ccc;
      padding: 10px;
    }

    .file-item {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }

    .file-icon {
      font-size: 24px;
      margin-right: 10px;
    }

    .file-name {
      font-size: 16px;
    }
  </style>
</head>
<body>
  <h1>Upload and Send Multiple Files to PHP</h1>
  <button id="fileButton">Select File(s)</button>
  <div id="fileList">
    <!-- Selected files will be displayed here -->
  </div>
  <button id="sendButton">Send Files</button>
  <script src="../js/teacher_upload.js"></script>
</body>
</html>
